

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.textocomplementar {
    font-size: medium;
    font-weight: 300;
}

.header {
    width: 99vw;
    height: 10vh;
    background-color: rgb(178, 210, 238);
}