.left-content {
    
    display: flex;
    width: 20vw;
    text-align: left;
    justify-content: space-around;
}

.right-content {
    text-align: right;
}

.acoes {
    width: 99vw;
    height: 8vh;
    background-color: rgb(230, 236, 241);
}