<div class="container separador acoes">
    <div class="left-content margem_borda">
        <p-button label="Primary" styleClass="p-button-raised"></p-button>
        <p-button label="Secondary" styleClass="p-button-raised p-button-secondary"></p-button>
        <p-button label="Success" styleClass="p-button-raised p-button-success"></p-button>
    </div>
    <div class="right-content margem_borda">
        <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input style="width: 30vw;" type="text" pInputText [(ngModel)]="value" />
        </span>
    </div>
</div>