<div class="container list">
    <p-table #newsGrid [value]="products" styleClass="p-datatable-gridlines" [scrollable]="true" selectionMode="single"
        [(selection)]="selectedProduct" dataKey="code" [tableStyle]="{ 'min-width': '50rem', 'width':'78vw' }"
        scrollHeight="58vh" dataKey="id" [globalFilterFields]="['code', 'name', 'category', 'quantity']">
        <ng-template pTemplate="caption">
            <div class="separador header verticalCenter">
                <div class="left-content margem_borda">
                    <p-button label="Primary" styleClass="p-button-raised"></p-button>
                    <p-button label="Secondary" styleClass="p-button-raised p-button-secondary"></p-button>
                    <p-button label="Success" styleClass="p-button-raised p-button-success"></p-button>
                </div>

                <div class="right-content  margem_borda" style="text-align: right;">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input style="width: 30vw;" pInputText #textInput type="text" (input)="newsGrid.filterGlobal(textInput.value, 'contains'
                        )" />
                    </span>
                </div>
            </div>

        </ng-template>
        <!-- <ng-template pTemplate="caption"> Header </ng-template> -->
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">.
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>

                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary"> Footer </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>