@import '~primeicons/primeicons.css';

/* You can add global styles to this file, and also import other style files */
html {
    position: relative;
    opacity: 0.7;
    background-image: url("/assets/images/fundo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    font-weight: 900;
    font-size: large;
}

.container {
    margin: auto;
    box-shadow: 15rem;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}

.separador {
    margin-top: 10px;
}

.margem_borda {
    padding: 1%;
}

.verticalCenter {
    align-items: center;
}

//   html { background-color: black; }